*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

.login-page{
    height: 100%;
    width: 100%;
    background-image: url(/photos/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.login-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
    top:10%
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-button{
    padding: 10px 30px;
    cursor:pointer;
    background:transparent;
    border: 0;
    outline: none;
    position: relative;
}

#button1{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #3f63cc, #fa0bf3);
    border-radius: 30px;
    transition: .5s;
}

.input-container{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.button-submit{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #3f63cc, #fa0bf3);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}