<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoIT - Homepage</title>
    <link rel="stylesheet" type="text/css" href="../styles/appreciated.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/userAuth.js"></script>
    <script src="../scripts/appreciated.js"></script>
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <a href="../views/home.html"> <img src="../photos/PhotoIt_Logo.png" alt=""></a>
            <nav>
                <ul class="nav-area">
                    <li><a href="../views/home.html">Home</a></li>
                    <li><a href="../views/search.html">Search</a></li>
                    <li><a href="../views/user.html">Profile</a></li>
                    <li><a href="../views/appreciated.html">Appreciated</a></li>
                    <li><a href="../views/upload.html">Upload</a></li>
                </ul>
            </nav>
            <button id="userStateBtn" class="btn-area">Login</button>
        </header>
        <div class="user_info">
            <b style="color:white;">TOP USERS</b>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#cars">
                <img src="../photos/car.jpg">
            </a>
        </div>
        <div class="content">
            <h2>#1) Jvo<br><span>105292 Appreciation Points</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#food">
                <img src="../photos/food.jpg">
            </a>
        </div>
        <div class="content">
            <h2>#2) AlexTheKing<br><span>32532 Appreciation Points</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#fashion">
                <img src="../photos/fashion.jpg">
            </a>
        </div>
        <div class="content">
            <h2>#3) JessieFitness<br><span>29921 Appreciation Points</span></h2>
        </div>
    </div>
</body>
</html>