<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PhotoIT - Homepage</title>
<link rel="stylesheet" type="text/css" href="../styles/category.css">
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <img src="../photos/PhotoIt_Logo.png" alt="" class="logo">
            <nav>
                <ul class="nav-area">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Appreciated</a></li>
                </ul>
            </nav>
            <a href="#" class="btn-area">Login</a>
        </header>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#cars">
                <img src="../photos/car.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Cars<br><span>Vroooom!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#food">
                <img src="../photos/food.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Food<br><span>Nom! nom! nom!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#fashion">
                <img src="../photos/fashion.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Fashion<br><span>Sheeeesh!</span></h2>
        </div>
    </div>
</body>
</html>