<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoIT - Homepage</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/userAuth.js"></script>
    <script src="../scripts/home.js"></script>
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <a href="../views/home.html"> <img id="photoItIcon" src="../photos/PhotoIt_Logo.png" alt=""></a></a>
            <nav>
                <ul class="nav-area">
                    <li><a href="../views/home.html">Home</a></li>
                    <li><a href="../views/search.html">Search</a></li>
                    <li><a href="../views/user.html">Profile</a></li>
                    <li><a href="../views/appreciated.html">Appreciated</a></li>
                    <li><a href="../views/upload.html">Upload</a></li>
                </ul>
            </nav>
            <button id="userStateBtn" class="btn-area" onclick="userState()">Login</button>
        </header>
    </div>
    <div class="box">
        <div class ="imgBox">
            <form action="../views/category.html">
                <input type="hidden" name="categoryType" value="Cars"/>
                <button class="btn" type="submit" id="categoryButton">
                    <img src="../photos/car.jpg">
                </button>
            </form>
        </div>
        <div class="content">
            <h2>Cars<br><span>Vroooom!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <form action="../views/category.html">
                <input type="hidden" name="categoryType" value="Food"/>
                <button class="btn" type="submit" id="categoryButton">
                    <img src="../photos/food.jpg">
                </button>
            </form>
        </div>
        <div class="content">
            <h2>Food<br><span>Nom! nom! nom!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <form action="../views/category.html">
                <input type="hidden" name="categoryType" value="Fashion"/>
                <button class="btn" type="submit" id="categoryButton">
                    <img src="../photos/fashion.jpg">
                </button>
            </form>
        </div>
        <div class="content">
            <h2>Fashion<br><span>Sheeeesh!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <form action="../views/category.html">
                <input type="hidden" name="categoryType" value="Funny"/>
                <button class="btn" type="submit" id="categoryButton">
                    <img src="../photos/funny.jpg">
                </button>
            </form>
        </div>
        <div class="content">
            <h2>Funny<br><span>Hahaha!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <form action="../views/category.html">
                <input type="hidden" name="categoryType" value="Sports"/>
                <button class="btn" type="submit" id="categoryButton">
                    <img src="../photos/sports.jpg">
                </button>
            </form>
        </div>
        <div class="content">
            <h2>Sports<br><span>Swish!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <form action="../views/category.html">
                <input type="hidden" name="categoryType" value="Science"/>
                <button class="btn" type="submit" id="categoryButton">
                    <img src="../photos/science.jpg">
                </button>
            </form>
        </div>
        <div class="content">
            <h2>Science<br><span>Research!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <form action="../views/category.html">
                <input type="hidden" name="categoryType" value="Scenery"/>
                <button class="btn" type="submit" id="categoryButton">
                    <img src="../photos/scenery.jpg">
                </button>
            </form>
        </div>
        <div class="content">
            <h2>Scenery<br><span>Beautiful!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <form action="../views/category.html">
                <input type="hidden" name="categoryType" value="Tech"/>
                <button class="btn" type="submit" id="categoryButton">
                    <img src="../photos/technology.jpg">
                </button>
            </form>
        </div>
        <div class="content">
            <h2>Tech<br><span>Beep boop!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <form action="../views/category.html">
                <input type="hidden" name="categoryType" value="Gaming"/>
                <button class="btn" type="submit" id="categoryButton">
                    <img src="../photos/gaming.jpg">
                </button>
            </form>
        </div>
        <div class="content">
            <h2>Gaming<br><span>Pew! Pew!</span></h2>
        </div>
    </div>
</body>
</html>