<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoIT - Homepage</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/home.js"></script>
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <img src="../photos/PhotoIt_Logo.png" alt="" class="logo">
            <nav>
                <ul class="nav-area">
                    <li><a href="../views/home.html">Home</a></li>
                    <li><a href="../views/search.html">Search</a></li>
                    <li><a href="../views/profile.html">Profile</a></li>
                    <li><a href="../views/appreciated.html">Appreciated</a></li>
                    <li><a href="../views/upload.html">Upload</a></li>
                </ul>
            </nav>
            <a href="#" class="btn-area">Login</a>
        </header>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#cars">
                <img src="../photos/car.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Cars<br><span>Vroooom!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#food">
                <img src="../photos/food.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Food<br><span>Nom! nom! nom!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#fashion">
                <img src="../photos/fashion.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Fashion<br><span>Sheeeesh!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#funny">
                <img src="../photos/funny.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Funny<br><span>Hahaha!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#sports">
                <img src="../photos/sports.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Sports<br><span>Swish!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#science">
                <img src="../photos/science.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Science<br><span>Research!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#scenery">
                <img src="../photos/scenery.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Scenery<br><span>Beautiful!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#tech">
                <img src="../photos/technology.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Tech<br><span>Beep boop!</span></h2>
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#gaming">
                <img src="../photos/gaming.jpg">
            </a>
        </div>
        <div class="content">
            <h2>Gaming<br><span>Pew! Pew!</span></h2>
        </div>
    </div>
</body>
</html>