<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" type="text/css" href="../styles/globalStyles.css">
    <title>PhotoIT - Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/login.js"></script>
</head>
<body>
    <div id="divBody">
        <div id="divNavBar">
            <header nav-bar>
                <a href="../views/home.html"> <img src="../photos/PhotoIt_Logo.png" alt="" id="logo"></a>
                <nav>
                    <ul id="ulNavBar">
                        <li><a href="../views/home.html">Home</a></li>
                        <li><a href="../views/search.html">Search</a></li>
                        <li><a href="../views/user.html">Profile</a></li>
                        <li><a href="../views/appreciated.html">Appreciated</a></li>
                        <li><a href="../views/upload.html">Upload</a></li>
                    </ul>
                </nav>
                <a href="../views/login.html" class="btn-area">Login</a>
            </header>
        </div>
        <div id="divLogReg">
            <div id="divBtnToggle">
                <div id="divBtnType"></div>
                <button type="button" class="btnToggle" onclick="showLogin()">Login</button>
                <button type="button" class="btnToggle" onclick="showRegister()">Register</button>
            </div>
            <div id="loginDiv">
                <p id="pLogError" class="pErrors"></p>
                <input type="text" id="inputLogEmail" class="inputField" placeholder="E-mail" required>
                <input type="password" id="inputLogPassword" class="inputField" placeholder="Password" required>
                <input type="checkbox" class="checkBox" onclick="showLoginPassword()">
                <text>Show Password</text>
                <button type="submit" id="loginBtn" class="btnSubmit" onclick="postLogin()">Login</button>
            </div>
            <div id="registerDiv">
                <p id="pRegError" class="pErrors">Blah</p>
                <input type="text" id="inputRegUsername" class="inputField" placeholder="Username" required>
                <input type="text" id="inputRegEmail" class="inputField" placeholder="E-mail" required>
                <input type="password" id="inputRegPassword" class="inputField" placeholder="Password" required>
                <input type="checkbox" class="checkBox" onclick="showRegisterPassword()">
                <text>Show Password</text>
                <button type="submit" id="regBtn" class="btnSubmit" onclick="postRegister()">Register</button>
            </div>
        </div>
    </div>
</body>
</html>