<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <title>PhotoIT - Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/login.js"></script>
</head>
<body>
    <div class="login-page">
        <div id="navbar">
            <header nav-bar>
                <img src="../photos/PhotoIt_Logo.png" alt="" class="logo">
                <nav>
                    <ul class="nav-area">
                        <li><a href="../views/home.html">Home</a></li>
                        <li><a href="../views/search.html">Search</a></li>
                        <li><a href="../views/user.html">Profile</a></li>
                        <li><a href="../views/appreciated.html">Appreciated</a></li>
                        <li><a href="../views/upload.html">Upload</a></li>
                    </ul>
                </nav>
                <a href="../views/login.html" class="btn-area">Login</a>
            </header>
        </div>
        <div class="login-box">
            <div class="button-box">
                <div id="button1"></div>
                <button type="button" class="toggle-button" onclick="login()">Login</button>
                <button type="button" class="toggle-button" onclick="register()">Register</button>
            </div>
            <form id="login" class="input-container">
                <input type="text" class="input-field" id="login-id" placeholder="E-mail" required>
                <input type="password" class="input-field" id="login-password" placeholder="Password" required>
                <input id="passwordInput" type="checkbox" onclick="showLoginPassword()">&ensp;Show Password
                <button type="submit" class="button-submit">Login</button>
            </form>
            <form id="register" class="input-container">
                <input type="text" id="register-id" class="input-field" placeholder="User ID" required>
                <input type="text" id="register-email" class="input-field" placeholder="Email Address" required>
                <input type="password" id="register-password" class="input-field" placeholder="Password" required>
                <input id="registerInput" type="checkbox" onclick="showRegisterPassword()">&ensp;Show Passwords
                <button type="submit" class="button-submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>