<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoIT - Homepage</title>
    <link rel="stylesheet" type="text/css" href="../styles/photo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/userAuth.js"></script>
    <script src="../scripts/main.js"></script>
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <img src="../photos/PhotoIt_Logo.png" alt="" class="logo">
            <nav>
                <ul class="nav-area">
                    <li><a href="../views/home.html">Home</a></li>
                    <li><a href="../views/search.html">Search</a></li>
                    <li><a href="../views/user.html">Profile</a></li>
                    <li><a href="../views/appreciated.html">Appreciated</a></li>
                    <li><a href="../views/upload.html">Upload</a></li>
                </ul>
            </nav>
            <button id="userStateBtn" class="btn-area">Login</button>
        </header>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#cars">
                <img src="../photos/cars/car1.jfif">
            </a>
        </div>
        <div class="content">
            <h2>Check out my car!<br><span>Posted By: CarGuy200</span></h2>
        </div>
        <button class="like" type="button">Appreciate</button>
    </div>
    <div class="comments">
        <div class="comment">Johnny: Cool car bro!!</div>
    </div>
</body>
</html>