<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoIT - Homepage</title>
    <link rel="stylesheet" type="text/css" href="../styles/search.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/search.js"></script>
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <img src="../photos/PhotoIt_Logo.png" alt="" class="logo">
            <nav>
                <ul class="nav-area">
                    <li><a href="../views/home.html">Home</a></li>
                    <li><a href="../views/search.html">Search</a></li>
                    <li><a href="../views/profile.html">Profile</a></li>
                    <li><a href="../views/appreciated.html">Appreciated</a></li>
                    <li><a href="../views/upload.html">Upload</a></li>
                </ul>
            </nav>
            <a href="#" class="btn-area">Login</a>
        </header>
        <div class="search">
            <b style="color:white;">SEARCH USER</b>
            <input type="text">
            <input type="submit">
        </div>
    </div>
    <div class="box">
        <div class ="imgBox">
            <a href="#cars">
                <img src="../photos/random/yup.jpg">
            </a>
        </div>
        <div class="content">
            <h2>MrKing909</h2>
        </div>
    </div>
</body>
</html>