<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoIT - Homepage</title>
    <link rel="stylesheet" type="text/css" href="../styles/search.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/userAuth.js"></script>
    <script src="../scripts/search.js"></script>
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <img src="../photos/PhotoIt_Logo.png" alt="" class="logo">
            <nav>
                <ul class="nav-area">
                    <li><a href="../views/home.html">Home</a></li>
                    <li><a href="../views/search.html">Search</a></li>
                    <li><a href="../views/user.html">Profile</a></li>
                    <li><a href="../views/appreciated.html">Appreciated</a></li>
                    <li><a href="../views/upload.html">Upload</a></li>
                </ul>
            </nav>
            <button id="userStateBtn" class="btn-area">Login</button>
        </header>
        <div class="search">
            <b style="color:white;">SEARCH USER</b>
            <input id="searchID" type="text">
            <input type="submit" onclick="getUser()">
        </div>
    </div>
    <div id="foundUser">
    </div>
</body>
</html>