<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PhotoIT - Homepage</title>
<link rel="stylesheet" type="text/css" href="../styles/upload.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../scripts/upload.js"></script>
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <img src="../photos/PhotoIt_Logo.png" alt="" class="logo">
            <nav>
                <ul class="nav-area">
                    <li><a href="../views/home.html">Home</a></li>
                    <li><a href="../views/search.html">Search</a></li>
                    <li><a href="../views/user.html">Profile</a></li>
                    <li><a href="../views/appreciated.html">Appreciated</a></li>
                    <li><a href="../views/upload.html">Upload</a></li>
                </ul>
            </nav>
            <a href="../views/login.html" class="btn-area">Login</a>
        </header>
        <div class="category_info">
            <b id="category_name" style="color:white;">UPLOAD A PHOTO</b>
            <form action="">
                <div><input type="file" id="myFile" name="filename" style="color:white;"></div>
                <div><p style="color:white;">Title <input type="text" id="photoname" name="Name"></p></div>
                <div><input type="submit"></div>
              </form>
        </div>
    </div>
</body>
</html>