<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoIT - Homepage</title>
    <link rel="stylesheet" type="text/css" href="../styles/user.css">
    <link rel="stylesheet" type="text/css" href="../styles/globalStyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-storage.js"></script>
    <script src="../scripts/user.js"></script>
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <a href="../views/home.html"> <img src="../photos/PhotoIt_Logo.png" alt=""></a>
            <nav>
                <ul class="nav-area">
                    <li><a href="../views/home.html">Home</a></li>
                    <li><a href="../views/search.html">Search</a></li>
                    <li><a href="../views/user.html">Profile</a></li>
                    <li><a href="../views/appreciated.html">Appreciated</a></li>
                    <li><a href="../views/upload.html">Upload</a></li>
                </ul>
            </nav>
            <button id="userStateBtn" class="btn-area" onclick="userState()">Login</button>
        </header>
        <div id="user_info">
            <div id="user_left">
                <button onclick="document.getElementById('myFile').click()" id="photoBtn"></button>
                <input type="file" id="myFile" name="filename" onchange="chooseFile(event)" style="display:none" accept="image/*">
            </div> 
            <div id="user_right">
                <p id="user_name"></p>
                <div class="stats_container">
                    <p class="user_stats" id="num_photos">Number of Photos: </p>
                    <p class="user_stats" id="num_likes">Appreciation Points: </p>
                </div>
                <p class="user_stats" id="awards">Awards: </p>
            </div>
        </div>
    </div>
    <div id="container">
    </div>
</body>
</html>