<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoIT - Homepage</title>
    <link rel="stylesheet" type="text/css" href="../styles/user.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/user.js"></script>
</head>
<body>
    <div id="navbar">
        <header nav-bar>
            <a href="../views/home.html"> <img src="../photos/PhotoIt_Logo.png" alt=""></a>
            <nav>
                <ul class="nav-area">
                    <li><a href="../views/home.html">Home</a></li>
                    <li><a href="../views/search.html">Search</a></li>
                    <li><a href="../views/user.html">Profile</a></li>
                    <li><a href="../views/appreciated.html">Appreciated</a></li>
                    <li><a href="../views/upload.html">Upload</a></li>
                </ul>
            </nav>
            <button id="userStateBtn" class="btn-area">Login</button>
        </header>
        <div class="user_info">
            <p id="user_name">UserName: </p>
            <p id="num_photos">Number of Photos: </p>
            <p id="num_likes">Appreciation Points: </p>
            <p id="awards">Awards: </p>
        </div>
    </div>
    <div id="container">
    </div>
</body>
</html>