@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
text-decoration: none;
}

.btn-area {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #75849d;
}

#button1 {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #3f63cc, #fa0bf3);
    border-radius: 30px;
    transition: .5s;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
    
.button-submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #3f63cc, #fa0bf3);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 10px;
}

header {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 70px;
}

header img {
width: 150px;
height: 150px;
}

.input-container {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#login {
    left: 50px;
}

.login-box {
    opacity: .90;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}

.login-page {
    height: 100%;
    width: 100%;
    background-image: url(../photos/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.logo {
    cursor: pointer;
}

.nav-area {
list-style: none;
}

.nav-area li {
display: inline-block;
padding: 0 15px;
text-transform: uppercase;
}

.nav-area li a {
transition: .3s;
color: #fff;
}

.nav-area li a:hover {
color: #75849d
}

#navbar {
max-width: 1200px;
margin:auto;
}

#register {
    left: 450px;
}

.toggle-button {
    padding: 10px 30px;
    cursor:pointer;
    background:transparent;
    border: 0;
    outline: none;
    position: relative;
}