@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}



#appreciatedMessage {
    color: red;
    position: absolute;
    bottom: -35px;
    left: -0px;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    font-size: 1.1rem;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.4);
    transition: 0.5s;
    padding: 10px;
    border-radius: 12px;
}

.box .content {
    position: absolute;
    bottom: 10px;
    width: 280px;
    background: rgba(0,0,0,0.4);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    height: 90px;
    border-radius: 12px;
}

.box .content h2 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.box .content h2 span {
    font-size: 1rem;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}

.box .imgBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.box .imgBox img {
    max-width: 100%;
    opacity: 1;
    transition: 0.5s;
    border-radius: 12px;
}

.box:hover .content {
    opacity: 1;
}

.box:hover .imgBox img {
    max-width: 100%;
    opacity: 1;
}

.box:nth-child(3n+1):before,
.box:nth-child(3n+1):after {
    background:linear-gradient(235deg, #f560f5, #010615, #56b3ff);
}

.category_info {
    text-align:center;
}

.comment {
    color: white;
    padding:5px;
    font-size: .9rem;
    outline: solid;
    outline-width: thin;
    outline-color: #414957;
}

.comments {
    max-width: 500px;
    max-height: 300px;
    border-radius: 8px;
    background-color: rgb(117 132 157);
    overflow-y: scroll;
}

#commentBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.like {
    color: white;
    position: relative;
    background-color: rgba(117, 132, 157, 1);
    border-radius: 8px;
    height: 2rem;
    width: 125px;
    border: none;
    outline: solid;
    outline-width: .15rem;
    outline-color: #4b5464;
}

#likeBtn {
    cursor: pointer;
    font-size: .9rem;
}

.logo {
    cursor: pointer;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.nav-area li a:hover {
    color: #75849d
}

#navbar {
    width: 1200px;
    max-height: 300px;
    font-size: 1.1rem;
}

#photoContainer {
    margin: 0 auto;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    padding: 25px;
}

#textBox {
    color:white;
    padding: 5px;
}

#textContainer {
    display: flex;
    flex-direction:column;
}

#userImg:hover {
    cursor: default;
}

.content #caption{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.content #caption span{
    font-size: .8rem;
}

#commentBtn {
    position: relative;
    bottom: 12.5%;
    border-radius: 6px;
    background-color: rgba(117, 132, 157, 1);
    color: white;
    padding: 2px;
    font-size: .9rem;
    border-style: solid;
    background: #75849d;
    border: none;
    outline: solid;
    outline-width: .15rem;
    outline-color: #4b5464;
}

#commentName{
    font-size: .8rem;
}

.leftContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.appreciatedContainer{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

#userMessage{
    border-radius: 6px;
    font-size: .9rem;
}

@media screen and (max-width: 800px){
    * {
        font-size: .95rem;
    }
    header img {
        width: 100px;
        height: 100px;
    }
    .btn-area {
        font-size: .95rem;
        padding: 5px 20px;
    }
    #photoContainer{
        flex-direction: column;
    }
    .appreciatedContainer{
        justify-content: space-around;
    }
    .comments{
        max-width: 100%;
    }
    .box .imgBox img{
        opacity: 1;
    }
}

@media screen and (max-width: 457px){
    #commentBtn{
        bottom: 0%;
    }
}